<div class="subscribe">
  <div class="subscribe__title">Select your learning package</div>
  <div class="wrapper">

    <div class="subscribe__topic">
      <div class="subscribe__topic__title">Foundational</div>
      <div class="subscribe__topic__price">$29/ month</div>
      <ul class="subscribe__topic__list">
        <li class="subscribe__topic__list__element">Detailed physiology articles</li>
        <li class="subscribe__topic__list__element">Illustration gallery</li>
        <li class="subscribe__topic__list__element">Interactive tests & quizzes</li>
      </ul>
      <button class="subscribe__topic__button">Explore Now</button>
    </div>

    <div class="subscribe__topic">
      <div class="subscribe__topic__title">Basic</div>
      <div class="subscribe__topic__price">Free access</div>
      <ul class="subscribe__topic__list">
        <div>

          <li class="subscribe__topic__list__element">In-depth physiology lessons</li>
        </div>
        <li class="subscribe__topic__list__element">Diagram repository</li>
        <li class="subscribe__topic__list__element">Study group feature</li>
      </ul>
      <button class="subscribe__topic__button">Join Premium</button>
    </div>

    <div class="subscribe__topic">
      <div class="subscribe__topic__title">Advanced</div>
      <div class="subscribe__topic__price">Upgrade for $9/month</div>
      <ul class="subscribe__topic__list">
        <li class="subscribe__topic__list__element">Extensive educational content</li>
        <li class="subscribe__topic__list__element">Visual aids collection</li>
        <li class="subscribe__topic__list__element">Collaborative learning platform</li>
      </ul>
      <button class="subscribe__topic__button">Upgrade Now</button>
    </div>

  </div>
</div>
