<div class="header">
  <div class="wrapper">
    <div class="header__logo">
      <img ngSrc="assets/icons/iconBrain.png" alt="IconBrain" height="32" width="32">
      <a href="" class="header__logo__title">Human Physiology</a>
    </div>
    <nav class="header__nav">
      <a href="" class="header__nav__element">Anatomy</a>
      <a href="" class="header__nav__element">Understanding</a>
      <a href="" class="header__nav__element">Importance</a>
      <a href="" class="header__nav__element">Practice</a>
    </nav>
    <div class="header__auth">
      <button class="header__auth__sig-in">Sign in</button>
      <button class="header__auth__log-in">Log in</button>
    </div>
  </div>
</div>
