<div class="headline">
  <div class="wrapper">
    <div class="headline__title">Headline</div>
    <div class="headline__topic">
      @if (this.headlineList$ | async; as headlines){
        @for (headline of headlines; track headline){
          <div (click)="buttonClick(headline.id)" class="headline__topic__element">
            <img ngSrc="assets/images/headlinePhotos/headline1.png" alt="" class="headline__topic__element__photo"
                 height="112" width="147">
            <div class="headline__topic__element__title">{{headline.title}}</div>
          </div>
        }
      }
    </div>
  </div>
</div>
