<div class="opportunities">
  <div class="wrapper">

    <div class="opportunities__topic">
      <img ngSrc="assets/icons/smile.png" alt="smile" class="opportunities__topic__photo" height="76" width="76">
      <div class="opportunities__topic__info">
        <div class="opportunities__topic__info__title">Positive mindset</div>
        <div class="opportunities__topic__info__text">Enhance learning with a positive mindset<br> and embrace the joy of
          education.
        </div>
      </div>
    </div>

    <div class="opportunities__topic">
      <img ngSrc="assets/icons/moon.png" alt="moon" class="opportunities__topic__photo" height="76" width="76">
      <div class="opportunities__topic__info">
        <div class="opportunities__topic__info__title">Quality sleep</div>
        <div class="opportunities__topic__info__text">Achieve rejuvenating sleep for optimal<br> learning and wake up ready to
          absorb.
        </div>
      </div>
    </div>

    <div class="opportunities__topic">
      <img ngSrc="assets/icons/fire.png" alt="fire" class="opportunities__topic__photo" height="76" width="76">
      <div class="opportunities__topic__info">
        <div class="opportunities__topic__info__title">Stress management</div>
        <div class="opportunities__topic__info__text">Manage stress to enhance learning and <br>maintain a healthy study
          routine.
        </div>
      </div>
    </div>

  </div>
</div>
