<div class="footer">
  <div class="wrapper">
    <div class="footer__logo">
      <img class="footer__logo__icon" ngSrc="assets/icons/iconBrain.png" alt="" height="32" width="32">
      <p class="footer__logo__title">Human Physiology</p>
    </div>
    <div class="footer__info">
      <div class="footer__info__topic">
        <p class="footer__info__topic__title">Learn more</p>
        <p class="footer__info__topic__link">Our Mission</p>
        <p class="footer__info__topic__link">Career opportunities</p>
        <p class="footer__info__topic__link">Media kit</p>
        <p class="footer__info__topic__link">Educational plans</p>
      </div>
      <div class="footer__info__topic">
        <p class="footer__info__topic__title">Get help</p>
        <p class="footer__info__topic__link">Student support</p>
        <p class="footer__info__topic__link">Questions answered</p>
        <p class="footer__info__topic__link">Need assistance</p>
      </div>
      <div class="footer__info__topic">
        <p class="footer__info__topic__title">Join our</p>
        <p class="footer__info__topic__link">Connect with us</p>
        <p class="footer__info__topic__link">Social updates</p>
        <p class="footer__info__topic__link">Latest tweets</p>
        <p class="footer__info__topic__link">Discussion</p>
      </div>
    </div>
    <div class="footer__link">
      <div class="footer__link__text">Download the app</div>
      <div class="footer__link__icon">
        <a href=""><img ngSrc="assets/images/playMarket.png" height="56" width="176" alt="Download App"></a>
        <a href=""><img ngSrc="assets/images/appStore.png" height="56" width="176" alt="Download App"></a>
      </div>
    </div>
  </div>
</div>
