.reviews {
  width: 100%;
  height: 584px;
  background-color: #d3d3d3;

  &__title {
    color: #030303;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    padding-top: 96px;
  }

  &__comments {
    position: relative;
    width: 313px;
    height: 312px;
    background-color: #ffffff;
    border-radius: 2px;
    padding-top: 32px;
    padding-left: 24px;

    &_icon {

    }

    &__text {
      padding-top: 32px;
      color: #000000;
      font-size: 28px;
      line-height: 32px;
      font-weight: 300;
    }

    &__account {
      display: flex;
      position: absolute;
      bottom: 24px;

      &__photo {
      }

      &__detail {
        align-self: center;
        padding-left: 12px;

        &__name {
          color: #000000;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 1.05px;
          line-height: 21px;
        }

        &__profession {
          color: #000000;
          font-size: 14px;
          line-height: 18px;
        }
      }

    }

  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding-top: 48px;
  max-width: 1340px;
  margin: 0 auto;
}
