<div class="reviews">
  <div class="reviews__title">Join our educational community and engage with over 1M learners</div>
  <div class="wrapper">

    <div class="reviews__comments">
      <div class="reviews__comments_icon">
        <img ngSrc="assets/icons/quote.png" alt="" height="40" width="40">
      </div>
      <div class="reviews__comments__text">Learning made easy<br> and enjoyable.</div>
      <div class="reviews__comments__account">
        <div class="reviews__comments__account__photo">
          <img ngSrc="assets/images/commentAccount.png" alt="" height="40" width="40">
        </div>
        <div class="reviews__comments__account__detail">
          <div class="reviews__comments__account__detail__name">John D.</div>
          <div class="reviews__comments__account__detail__profession">Educator</div>
        </div>
      </div>
    </div>

    <div class="reviews__comments">
      <div class="reviews__comments_icon">
        <img ngSrc="assets/icons/quote.png" alt="" height="40" width="40">
      </div>
      <div class="reviews__comments__text">This platform revolutionized my learning experience.</div>
      <div class="reviews__comments__account">
        <div class="reviews__comments__account__photo">
          <img ngSrc="assets/images/commentAccount.png" alt="" height="40" width="40">
        </div>
        <div class="reviews__comments__account__detail">
          <div class="reviews__comments__account__detail__name">John D.</div>
          <div class="reviews__comments__account__detail__profession">Educator</div>
        </div>
      </div>
    </div>

    <div class="reviews__comments">
      <div class="reviews__comments_icon">
        <img ngSrc="assets/icons/quote.png" alt="" height="40" width="40">
      </div>
      <div class="reviews__comments__text">Physiology is the key to understanding</div>
      <div class="reviews__comments__account">
        <div class="reviews__comments__account__photo">
          <img ngSrc="assets/images/commentAccount.png" alt="" height="40" width="40">
        </div>
        <div class="reviews__comments__account__detail">
          <div class="reviews__comments__account__detail__name">John D.</div>
          <div class="reviews__comments__account__detail__profession">Educator</div>
        </div>
      </div>
    </div>

    <div class="reviews__comments">
      <div class="reviews__comments_icon">
        <img ngSrc="assets/icons/quote.png" alt="" height="40" width="40">
      </div>
      <div class="reviews__comments__text">Unlocking the secrets of human physiology for a better</div>
      <div class="reviews__comments__account">
        <div class="reviews__comments__account__photo">
          <img ngSrc="assets/images/commentAccount.png" alt="" height="40" width="40">
        </div>
        <div class="reviews__comments__account__detail">
          <div class="reviews__comments__account__detail__name">John D.</div>
          <div class="reviews__comments__account__detail__profession">Educator</div>
        </div>
      </div>
    </div>

  </div>
</div>
